@media only screen and (min-width: 70em) {
    .div-container {
        display: grid;
        grid-template-columns: 33% 33% 34%;
        grid-gap: 20px;
    }

    .column-one {
        grid-column-start: 1;


    }

    .column-two {
        grid-column-start: 2;
    }

    .column-three {
        grid-column-start: 3;
        grid-row-start: 1;

    }
}