@media only screen and (min-width: 1028px) {

    main figure img {
        width: 45%;
        margin-right: 50px;
        margin-left: 100px;
        align-items: right;
    }

    .container {
        margin: 45px 20px 25px 20px;

        column-count: 3;
        column-rule: 2px solid transparent;
    }

    main div h3 {
        font-size: 20px;
    }

    main div p {
        margin-left: 30px;
        font-size: 20px;

    }
}