@media only screen and (min-width: 32em) {
    main {
        margin: 20px;
    }

    img {
        width: 100%;
    }

    p {
        margin-left: 50px;
    }

    .div-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 50px;
    }

    .column-one {
        grid-column-start: 1;
        grid-column-end: 2;

    }

    .column-two {
        grid-column-start: 2;
    }

    .column-three {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    main figcaption {
        display: none;

    }

}