img {
  display: block;
  border: 2px solid black;
  margin: 20px auto;
}

#mark {
  width: 100%;
  position: fixed;
  bottom: 100px;
  font-size: 12pt;
  border-bottom: dashed 2px red;
}

/* blur placeholder */
img[data-src] {
  filter: blur(0.5rem);
}

img {
  filter: blur(0rem);
  transition: filter 0.5s;
}
