/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 560px) {


    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/


    Header img {
        width: 70px;
    }


    header h1 {
        padding-top: 0.5rem;
    }


    header h2 {
        font-size: 1.5rem;
    }

    /*----------- NAVIGATION --------------*/

    nav ul {
        list-style-type: none;
    }

    nav ul li {
        float: left;
    }


    nav ul li a {
        padding: .5rem 1rem;

    }

    nav button {
        display: none;
    }


    #navigation {
        display: flex;
        text-align: center;
    }


    #navigation li {
        display: block;
        flex: 1 1 100%;
    }


    /*----------- MAIN --------------*/

    main {
        padding-top: 10%;
        min-height: 10rem;
    }

    main h1 {
        text-align: justify;
    }


    main div {
        text-align: justify;

    }


    /*----------- FOOTER --------------*/



}

/* end of media query */