/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-family: "Ubuntu", sans-serif;
}

/*----------- MAIN --------------*/
main {
  width: 100%;
}
table {
  text-indent: initial;
  border-spacing: 3px;
}

table,
thead,
th,
tr,
td {
  border: 1px solid #888;
  border-collapse: collapse;
  text-align: center;
}

thead tr td {
  background-color: #7fb9c2;
}

tfoot tr td {
  background-color: #7fb9c2;
}

th {
  color: white;
  background-color: #628ca6;
}

#all tr:nth-child(even) {
  background-color: #e7ffed;
}

#all tr:nth-child(odd) {
  background-color: #e7f0ed;
}

.change {
  color: #ffffff;
  background-color: #628ca6;
}
