/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing;
    border-box;
}

/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;

}

/*----------- HEADER --------------*/
header {
    padding: 1rem 4%;
    background-color: #0081a7;
}

header img {
    width: 50px;
    float: left;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 1.3rem;
}

header h2 {
    margin: 0;
    font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #00afb9;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #aaa;
    color: #333;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    width: 100%;
    padding: 0 2%;
    min-height: 10rem;
    display: block;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #00afb9;
    padding: .5rem 4%;
    text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}