/* Tablet */
@media only screen and (min-width: 768px) {

  /*----------- HEADER --------------*/

  Header img {
    width: 80px;
    margin-right: 10px;
  }

  /*----------- NAVIGATION --------------*/

  nav ul li a {
    padding: 0.5rem 1rem;
    font-size: 0.9em;
  }

  nav button {
    display: none;
  }

  nav ul li.active a {
    border-style: ridge;
    border-color: #175676;
    color: #000;
  }

  #navigation {
    display: flex;
    text-align: center;
  }

  #navigation li {
    display: block;
    flex: 1 1 100%;
  }

  /*----------- MAIN --------------*/

  main h1 {
    padding-top: 10px;
    padding-left: 38%;
  }

  main div {
    margin: 0;
  } 

  #forecast {
    width: 250px;
    margin-left: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7rem, 30%));
    grid-gap: 10px;
  }

  .grid-col {
    text-align: left;
    line-height: 2rem;
  }

  .grid-col {
    background-color: #40798c;
  }

  section {
    display: flex;
    flex-direction: row;
  }

  section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .shop {    
  display:block;
  margin: 40px auto;  
  }

  .partners {
    display: flex;
    justify-content: center;    
    grid-gap: 20px;
  } 
  
  .contact_info {
    height: auto;  
    font-size: 16px; 
    display: flex; 
  }

  .board {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
  }

  .info {
    font-size: 14px;
    line-height: 3rem;
  }


  .btn {
  margin-left: auto ;
  }
 
  .chamber{
    display:block;
    font-size: 18px;
    margin-left: 1%;
    margin-right: 2%;
  }
  
  .logo {
    width: 20%;
    height: auto;
    float: right;
    margin: 0 5px 0 15px;
  }

  dt {  
    text-align: left;
    margin-left: 2.5rem;
  }

  .display_here div section {
    height: 220px;
  }
  .display_here div img {
    height: 220px;
  }

  .box:hover {
    width: 175px;
    box-shadow: 5px 5px 10px 5px #40798c;
  }

  .gmap_canvas {
    margin-bottom: 30px;
  }

  /* iPad Pro */
  @media only screen and (min-width: 1024px) {

    #forecast {
      margin-left: 330px;
    }
  }
