/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-family: "Roboto", sans-serif;
}

/*----------- HEADER --------------*/

header {
  padding: 3rem 3%;
  background-color: #9ec1a3;
}

header img {
  width: 100px;
  float: left;
  padding-right: 10px;
}


/*----------- NAVIGATION --------------*/

nav button {
  width: 100%;
  border: none;
  color: #1f363d;
  background-color: #cfe0c3;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: #1f363d;
  background-color: #70a9a1;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li.active a {
  background-color: #cfe0c3;
  color: #1f363d;
  border-style: ridge;
  border-color: #1f363d;
}


.hide {
  display:none;
}

/*----------- MAIN --------------*/

main {
  width: 100%;
  min-height: 10rem;
  display: block;
  line-height: 1.5rem;
}

main h1 {
  padding-top: 10px;
  padding-left: 43%;
}

main picture img {
  width: 100%;
  object-fit: contain;
  
}

main h2 {
  text-align: center;
}

section,
div,
.city h2,
.city h3 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

#comments {
  background-color: #cfe0c3;
}



#forecast {
  display: block;
}

.first {
  margin-left: 0.7rem;
  padding-right: 1.5rem;
  text-align:justify;
}

.grid-col {
  background-color: #40798c;
  margin: 4px auto 4px auto;
}

.shop {
  display:none;
}

.contact_info {
  width: 100%;
  padding: 10px 10px 0px 5px;
  display: grid;
  grid-template-columns: 1fr; 
  justify-items: center;
  font-size: 16px;
  line-height: 0.8rem;
  background-color: #70a9a1;  
}

#social {
grid-column: 2;
padding-bottom: 5px;
}

.info {
  font-size: 16px;
  font-weight: 400;
  line-height: 3.5rem;
}


form fieldset {
  width: 350px;
  height: auto;
  margin: 3rem auto;
}

form label.field {
  display:block;
}

form label.field input,
form label.field select {
  width: 100%;
  background-color: #cfe0c3;
}

form label.field input:required {
  border-left: 2px solid #ba324f;
}

form label.field input:required:valid {
  background-color: #cfe0c3;
}

legend {
  font-size: 16px;
}

label datalist {
  padding: 5rem;
}

.btn {
  margin-bottom: 1rem;
  margin-left: 6rem;
  font-size: 16px;
  text-align: center;
  padding: 10px 70px;
  background-color: #cfe0c3;
}

.nova {
  display: none;
}

.home {
  display: none;

}


.home-small {

  display:none;
}



/*----------- FOOTER --------------*/
footer {
  background-color: #9fc7a5;
  width: 100%;
  margin-right: -10px;
  padding: 0.5rem;
  padding-right: unset;
}

footer p {
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix::content {
  content: "";
  display: table;
  clear: both;
}
