/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-family: "Roboto", sans-serif;
}

/*----------- HEADER --------------*/

header {
  padding: 3rem 3%;
  background-color: #9ec1a3;
}

header img {
  width: 100px;
  float: left;
  padding-right: 10px;
}

/*----------- NAVIGATION --------------*/

.hide {
  display: none;
}

nav button {
  width: 100%;
  border: none;
  color: #1f363d;
  background-color: #cfe0c3;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: #1f363d;
  background-color: #70a9a1;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li.active a {
  background-color: #cfe0c3;
  color: #1f363d;
  border-style: ridge;
  border-color: #1f363d;
}

/*----------- MAIN --------------*/

main {
  width: 100%;
  min-height: 10rem;
  display: block;
  line-height: 1.5rem;
}

main h1 {
  padding-top: 10px;
  padding-left: 43%;
}

div#message {
  background-color: #ba324f;
  height: 8.5rem;
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
}

div.showme {
  display: block;
}

div.hideme {
  display: none;
}

.principal {
  padding-top: 5px;
}

main picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 10px 10px 40px 10px;
}

.hero_one {
  padding-top: 10px;
}

#unico {
  margin-bottom: 0px;
  font-weight: bold;
  text-decoration: underline;
}

#forecast {
  display: block;
}

article aside {
  margin-left: 0.8rem;
  width: 95%;
}

.girl {
  display: none;
}

.home {
  display: none;
}

.girl-small {
  width: 90%;
  height: auto;
  object-fit: contain;
  margin-left: 1rem;
  margin-right: 1rem;
  border: 1px solid #808080;
}

.home-small {
  display: none;
}

.grid-col {
  background-color: #4ba3c3;
  margin: 4px auto 4px auto;
}

section,
.contact-option {
  border: 1px solid #000;
}
.contact_info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  font-size: 16px;
  line-height: 1rem;
}

.info {
  font-size: 16px;
  font-weight: 400;
  line-height: 3.5rem;
}

.contact-option {
  height: 50px;
  margin: 0 0 20px 0;
}

form fieldset {
  width: 350px;
  height: 260px;
  margin: 3rem auto;
}

form label.field {
  display: block;
}

form label.field input,
form label.field select {
  width: 100%;
  background-color: #cce6f4;
}

form label.field input:required {
  border-left: 4px solid #ba324f;
}

form label.field input:required:valid {
  background-color: #cce6f4;
}

legend {
  font-size: 18px;
}

label datalist {
  padding: 5rem;
}

.btn {
  margin-bottom: 1rem;
  margin-left: 6rem;
  font-size: 16px;
  text-align: center;
  padding: 10px 70px;
  background-color: #cce6f4;
}

section,
div,
.city h2,
.city h3 {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

#comments {
  background-color: #cce6f4;
}

#map_two {
  display: none;
}

/*----------- FOOTER --------------*/
footer {
  background-color: #cfe0c3;
  width: 100%;
  margin-right: -10px;
  padding: 0.5rem;
  padding-right: unset;
}

footer p {
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix::content {
  content: "";
  display: table;
  clear: both;
}
